<nz-page-header>
  <nz-page-header-title>新增采购单</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary"
            (click)="saveOrder()"
            [disabled]="!purchaseOrderForm.valid" [nzLoading]="isSaving">
      <i nz-icon nzType="save" nzTheme="outline" *ngIf="!isSaving"></i>
      保存
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <form nz-form nzLayout="inline" [formGroup]="purchaseOrderForm">
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">客户</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="14">
            <input nz-input formControlName="purchasingCompany" class="info-input"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">总金额</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="14">
            <nz-input-number [nzFormatter]="cashFormatter" formControlName="cash" nzMin="0" nzStep="0.01" class="info-input"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">采购日期</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="14">
            <nz-date-picker nzShowTime
                            class="info-input"
                            formControlName="doneAt"
                            [nzDisabledDate]="disabledDate"
                            nzFormat="yyyy-MM-dd HH:mm"
                            nzPlaceHolder="选择时间">

            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="6">业务员</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="14">
            <input nz-input formControlName="salesman" class="info-input"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="6">备注</nz-form-label>
          <nz-form-control nzSpan="14">
            <input nz-input formControlName="description" class="info-input"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <br/>
  <div class="operate">
    <button nz-button nzType="primary" (click)="addRow()" [disabled]="editCache._id !== null">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增商品
    </button>
  </div>
  <nz-table #purchaseOrderAddProductsTable
            nzBordered
            nzShowPagination="false"
            nzSize="middle"
            [nzScroll]="{ y: '400px' }"
            [nzData]="products">
    <thead>
    <tr>
      <th nzWidth="100px">商品编号</th>
      <th nzWidth="200px">商品</th>
      <th nzWidth="100px">数量(件)</th>
      <th nzWidth="100px">重量(千克)</th>
      <th nzWidth="100px">单价</th>
      <th nzWidth="120px">单位</th>
      <th nzWidth="120px">总价</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of purchaseOrderAddProductsTable.data">
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']">
          {{ data.productId }}
        </ng-container>
        <ng-container *ngIf="editCache._id === data['_id']">
          {{ editCache.data.productId }}
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else nameSelectTpl">
          {{ data.name }}
        </ng-container>
        <ng-template #nameSelectTpl>
          <nz-select [(ngModel)]="editCache.product"
                     nzShowSearch
                     nzServerSearch
                     (nzOnSearch)="onSearch($event)"
                     (ngModelChange)="onChangeSelected($event)"
                     style="width: 100px">
            <ng-container *ngFor="let p of searchProducts; let i = index;">
              <nz-option *ngIf="!isLoading && i == 0" nzLabel="{{ editCache.currentProduct.name }}" [nzValue]="editCache.currentProduct" nzHide></nz-option>
              <nz-option *ngIf="!isLoading" nzLabel="{{ p.name }}" [nzValue]="p"></nz-option>
            </ng-container>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
            </nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']">
          {{ data.quantity }}
        </ng-container>
        <ng-container *ngIf="editCache._id === data['_id']">
          <nz-input-number [(ngModel)]="editCache.data.quantity" nzMin="1" nzStep="1" class="table-number-input"></nz-input-number>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']">
          {{ data.weight }}
        </ng-container>
        <ng-container *ngIf="editCache._id === data['_id']">
          <nz-input-number [(ngModel)]="editCache.data.weight" nzMin="0" nzStep="0.001" class="table-number-input"></nz-input-number>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']">
          &yen; {{ data.price | number: '1.2-3' }}
        </ng-container>
        <ng-container *ngIf="editCache._id === data['_id']">
          <nz-input-number [(ngModel)]="editCache.data.price" nzMin="0" nzStep="0.01" class="table-number-input" [nzFormatter]="cashFormatter"></nz-input-number>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']">
          {{ data.priceType | purchase_order_price_type }}
        </ng-container>
        <ng-container *ngIf="editCache._id === data['_id']">
          <nz-select [(ngModel)]="editCache.data.priceType">
            <nz-option nzLabel="元/千克" [nzValue]="1"></nz-option>
            <nz-option nzLabel="元/件" [nzValue]="2"></nz-option>
          </nz-select>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']">
          &yen; {{ data.cash | number: '1.2-3' }}
        </ng-container>
        <ng-container *ngIf="editCache._id === data['_id']">
          <nz-input-number [(ngModel)]="editCache.data.cash" nzMin="0" nzStep="0.01" class="table-number-input" [nzFormatter]="cashFormatter"></nz-input-number>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editCache._id === null">
          <a (click)="startEdit(data._id)">编辑</a>
          <a nz-popconfirm
             style="margin-left: 5px;"
             class="delete"
             nzTitle="确认删除?"
             (nzOnConfirm)="confirmDelete(data._id)">
            删除
          </a>
        </ng-container>
        <ng-container *ngIf="editCache._id !== data['_id']; else saveTpl">

        </ng-container>
        <ng-template #saveTpl>
          <a (click)="saveEdit(data._id)">保存</a>
          <a nz-popconfirm
             nzTitle="确定取消?"
             (nzOnConfirm)="cancelEdit(data._id)"
             style="margin-left: 5px">
            取消
          </a>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
