<nz-page-header>
  <nz-page-header-title>用户详情</nz-page-header-title>
  <nz-page-header-extra>
    <!--<button nz-button nzType="primary"-->
            <!--(click)="saveUser()"-->
            <!--[disabled]="!userManagementForm.valid || isSaving">-->
      <!--<i nz-icon nzType="save" nzTheme="outline" *ngIf="!isSaving"></i>-->
      <!--<i nz-icon nzType="loading" nzTheme="outline" *ngIf="isSaving"></i>-->
      <!--保存-->
    <!--</button>-->
  </nz-page-header-extra>
</nz-page-header>
<div class="content" *ngIf="isLoading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div class="content" *ngIf="!isLoading">
  <nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="姓名" [nzSpan]="2">{{ userManagementData.name }}
      <a style="margin-left: 5px" (click)="showModalName()">
        修改
      </a>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="电话号码" [nzSpan]="3">{{ userManagementData.phoneNumber }}
      <a style="margin-left: 5px" (click)="showModalPhoneNumber()">
        修改
      </a></nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="2">
      <nz-badge nzStatus="success" nzText="在职" *ngIf="userManagementData.status === 1"></nz-badge>
    </nz-descriptions-item>
  </nz-descriptions>

  <nz-modal [(nzVisible)]="isVisibleName" nzTitle="修改姓名" (nzOnCancel)="handleCancelName()" (nzOnOk)="saveUserName()">
    <form nz-form nzLayout="inline" [formGroup]="userNameForm">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="20">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired nzSpan="6">姓名</nz-form-label>
            <nz-form-control nzHasFeedback nzSpan="14">
              <input nz-input formControlName="name" class="info-input"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisiblePhoneNumber" nzTitle="修改电话号码" (nzOnCancel)="handleCancelPhoneNumber()" (nzOnOk)="saveUserPhoneNumber()">
    <form nz-form nzLayout="inline" [formGroup]="userPhoneNumberForm">
      <div nz-row [nzGutter]="24">
        <div nz-col nzSpan="20">
          <nz-form-item nzFlex>
            <nz-form-label nzRequired nzSpan="6">电话号码</nz-form-label>
            <nz-form-control nzHasFeedback nzSpan="14">
              <input nz-input formControlName="phoneNumber" class="info-input"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-modal>
  <br/>
  <h3>权限列表</h3>
  <nz-table #userAuthTable
            nzBordered
            nzShowPagination="true"
            [nzData]="userManagementData.authList">
    <thead>
    <tr>
      <th nzWidth="200px">描述</th>
      <th nzWidth="200px">是否拥有</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userAuthTable.data">
      <td> {{ data.description }}</td>
      <td>
        <nz-tag nzColor="{{ data.action | user_center_auth_color }}">{{ data.action | user_center_auth
          }}
        </nz-tag>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

