<nz-page-header>
  <nz-page-header-title>加工单详情</nz-page-header-title>
  <nz-page-header-extra>
    <div>
      <e-ngx-print #print1
                   [showBtn]="false"
                   [printStyle]="printStyle"
                   [printCSS]="printCSS"
                   (printComplete)="printComplete()">
      </e-ngx-print>
      <button nz-button nzType="primary" (click)="preview()">打印预览</button>
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="content" *ngIf="isLoading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div class="content" *ngIf="!isLoading">
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="加工单编号" [nzSpan]="2">{{ processingOrderData.code }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="出货单编号" [nzSpan]="2">{{ processingOrderData.shippingOrderCode }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="客户" [nzSpan]="3">{{ processingOrderData.customerName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="业务员" [nzSpan]="2">{{ processingOrderData.salesman }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="2">
      <nz-badge nzColor="{{ processingOrderData.status | processing_order_status_color }}"
                nzText="{{ processingOrderData.status | processing_order_status }}"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建时间" [nzSpan]="2">{{ processingOrderData.createdAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建者" [nzSpan]="2">{{ processingOrderData.createdByName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃时间" [nzSpan]="2">{{ processingOrderData.deletedAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃者" [nzSpan]="2">{{ processingOrderData.deletedByName }}</nz-descriptions-item>
  </nz-descriptions>
  <br/>
  <div nz-row class="table-header">
    <h3 style="display: inline-block">加工商品列表</h3>
    <button nz-button
            nzType="primary"
            style="display: inline-block; margin-left: 20px"
            nzSize="small"
            (click)="addProductRow()"
            [disabled]="editCache._id !== null || processingOrderData.status !== 0"> <!-- 草稿中可修改 -->
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增
    </button>
  </div>
  <nz-table #processingOrderInfoProductsTable
            nzBordered
            nzShowPagination="false"
            nzSize="middle"
            [nzData]="processingOrderData.products"
            [nzScroll]="{ y: '400px' }">
    <thead>
    <tr>
      <th nzWidth="100px">商品编号</th>
      <th nzWidth="200px">商品</th>
      <th nzWidth="240px">加工规格(mm)</th>
      <th nzWidth="120px">数量(件)</th>
      <th nzWidth="120px">预计重量(kg)</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of processingOrderInfoProductsTable.data">
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else productIdEditTpl">
          {{ data.productId }}
        </ng-container>
        <ng-template #productIdEditTpl>
          {{ editCache.data.productId }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else productNameEditTpl">
          {{ data.productName }}
        </ng-container>
        <ng-template #productNameEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.productId">
            <nz-select [(ngModel)]="editCache.product"
                       nzShowSearch
                       nzServerSearch
                       (nzOnSearch)="onProductSearch($event)"
                       (ngModelChange)="onChangeSelectedProduct($event)"
                       style="width: 150px">
              <nz-option *ngIf="!isProductsLoading" nzLabel="{{ editCache.currentProduct.name }}"
                         [nzValue]="editCache.currentProduct" nzHide></nz-option>
              <ng-container *ngFor="let p of searchProducts; let i = index;">
                <nz-option *ngIf="!isProductsLoading" nzLabel="{{ p.name }}" [nzValue]="p"></nz-option>
              </ng-container>
              <nz-option *ngIf="isProductsLoading" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
              </nz-option>
            </nz-select>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else specificationEditTpl">
          {{ data.specification }}
        </ng-container>
        <ng-template #specificationEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.specification">
            <input nz-input [(ngModel)]="editCache.data.specification"
                   (ngModelChange)="onSpecificationInput($event)"
                   [nzAutocomplete]="auto"/>
            <nz-autocomplete nzBackfill #auto>
              <nz-auto-option *ngFor="let option of specificationAutoComplete" [nzValue]="option.value">
                {{ option.label }}
              </nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else quantityEditTpl">
          {{ data.quantity }}
        </ng-container>
        <ng-template #quantityEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.quantity">
            <nz-input-number nzMin="1" nzStep="1"
                             [(ngModel)]="editCache.data.quantity"
                             (ngModelChange)="onQuantityChange()"></nz-input-number>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else expectedWeightEditTpl">
          {{ data.expectedWeight }}
        </ng-container>
        <ng-template #expectedWeightEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.expectedWeight">
            <nz-input-number nzMin="0" nzStep="0.0001"
                             [(ngModel)]="editCache.data.expectedWeight"
                             (ngModelChange)="checkExpectedWeight()"></nz-input-number>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id === null">
          <a (click)="startEditProduct(data._id)" [class.disabled]="processingOrderData.status !== 0">编辑</a>
          <a (click)="copyProductRow(data._id)" style="margin-left: 5px"
             [class.disabled]="processingOrderData.status !== 0">复制</a>
          <a nz-popconfirm
             style="margin-left: 5px"
             class="delete"
             [class.disabled]="processingOrderData.status !== 0"
             nzTitle="确认删除?"
             (nzOnConfirm)="confirmProductDelete(data._id)">
            删除
          </a>
        </ng-container>
        <ng-container *ngIf="editCache._id !== data['_id']; else saveTpl">

        </ng-container>
        <ng-template #saveTpl>
          <a (click)="saveProductEdit(data._id)">保存</a>
          <a nz-popconfirm
             nzTitle="确认取消?"
             (nzOnConfirm)="cancelProductEdit(data._id)"
             style="margin-left: 5px;">
            取消
          </a>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<div class="print-wrapper">
  <div id="print_div" #print_div>
    <br/>
    <br/>
    <br/>
    <br/>
    <!--(购货单位:)-->
    <p *ngIf="showPrint">{{ processingOrderData.customerName }}</p>
    <div style="height: 400px">
      <table *ngIf="showPrint">
        <thead>
        <tr>
          <!--<th style="width: 200px">(型号)</th>-->
          <!--<th style="width: 300px">(加工规格(mm))</th>-->
          <!--<th style="width: 120px">(数量(件))</th>-->
          <!--<th style="width: 120px">(预计重量(kg))</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of processingOrderData.products">
          <td style="width: 200px"> {{ data.productName }}</td>
          <td style="width: 300px"> {{ data.specification }}</td>
          <td style="width: 120px"> {{ data.quantity }}</td>
          <td style="width: 120px"> {{ data.expectedWeight }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div style="position: relative">
      <div style="position: absolute; right: 0">
        <!--重量汇总:-->
        <label></label>&nbsp;&nbsp;<span *ngIf="showPrint">{{ processingOrderData.totalWeight }}</span>
      </div>
    </div>
  </div>
</div>

<nz-modal style="width: 300px" [(nzVisible)]="isPreview" nzTitle="预览" (nzOnCancel)="handleCancel()"
          (nzOnOk)="customPrint('print1')" *ngIf="!isLoading">
      <br/>
      <br/>
      <br/>
      <br/>
      <!--(购货单位:)-->
      <p>{{ processingOrderData.customerName }}</p>
      <div style="height: 400px">
        <table>
          <thead>
          <tr>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of processingOrderData.products">
            <td style="width: 200px"> {{ data.productName }}</td>
            <td style="width: 300px"> {{ data.specification }}</td>
            <td style="width: 120px"> {{ data.quantity }}</td>
            <td style="width: 120px"> {{ data.expectedWeight | number: '1.2-2' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div style="position: relative">
        <div style="position: absolute; right: 0">
          <!--重量汇总:-->
          <label></label>&nbsp;&nbsp;<span>{{ processingOrderData.totalWeight | number: '1.2-2' }}</span>
        </div>
      </div>

</nz-modal>

