<nz-page-header>
  <nz-page-header-title>加工单详情</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary">
      <i nz-icon nzType="printer" nzTheme="outline"></i>
      打印
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content" *ngIf="isLoading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div class="content" *ngIf="!isLoading">
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="加工单编号" [nzSpan]="2">{{ processingOrderData.code }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="出货单编号" [nzSpan]="2">{{ processingOrderData.shippingOrderCode }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="客户" [nzSpan]="3">{{ processingOrderData.customerName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="业务员" [nzSpan]="2">{{ processingOrderData.salesman }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="2">
      <nz-badge nzStatus="success" nzText="已完成" *ngIf="processingOrderData.status === 1"></nz-badge>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建时间" [nzSpan]="2">{{ processingOrderData.createdAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建者" [nzSpan]="2">{{ processingOrderData.createdByName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃时间" [nzSpan]="2">{{ processingOrderData.deletedAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃者" [nzSpan]="2">{{ processingOrderData.deletedByName }}</nz-descriptions-item>
  </nz-descriptions>
  <br/>
  <div nz-row class="table-header">
    <h3 style="display: inline-block">加工商品列表</h3>
    <button nz-button
            nzType="primary"
            style="display: inline-block; margin-left: 20px"
            nzSize="small"
            (click)="addProductRow()"
            [disabled]="editCache._id !== null">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增
    </button>
  </div>
  <nz-table #processingOrderInfoProductsTable
            nzBordered
            nzShowPagination="false"
            nzSize="middle"
            [nzData]="processingOrderData.products"
            [nzScroll]="{ y: '400px' }">
    <thead>
    <tr>
      <th nzWidth="100px">商品编号</th>
      <th nzWidth="200px">商品</th>
      <th nzWidth="240px">加工规格</th>
      <th nzWidth="120px">数量(件)</th>
      <th nzWidth="120px">预计重量(千克)</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of processingOrderInfoProductsTable.data">
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else productIdEditTpl">
          {{ data.productId }}
        </ng-container>
        <ng-template #productIdEditTpl>
          {{ editCache.data.productId }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else productNameEditTpl">
          {{ data.productName }}
        </ng-container>
        <ng-template #productNameEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.productId">
            <nz-select [(ngModel)]="editCache.product"
                       nzShowSearch
                       nzServerSearch
                       (nzOnSearch)="onProductSearch($event)"
                       (ngModelChange)="onChangeSelectedProduct($event)"
                       style="width: 150px">
              <nz-option *ngIf="!isProductsLoading" nzLabel="{{ editCache.currentProduct.name }}" [nzValue]="editCache.currentProduct" nzHide></nz-option>
              <ng-container *ngFor="let p of searchProducts; let i = index;">
                <nz-option *ngIf="!isProductsLoading" nzLabel="{{ p.name }}" [nzValue]="p"></nz-option>
              </ng-container>
              <nz-option *ngIf="isProductsLoading" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
              </nz-option>
            </nz-select>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else specificationEditTpl">
          {{ data.specification }}
        </ng-container>
        <ng-template #specificationEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.specification">
            <input nz-input [(ngModel)]="editCache.data.specification"
                   (ngModelChange)="onSpecificationInput($event)"
                   [nzAutocomplete]="auto"/>
            <nz-autocomplete nzBackfill #auto>
              <nz-auto-option *ngFor="let option of specificationAutoComplete" [nzValue]="option.value">
                {{ option.label }}
              </nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else quantityEditTpl">
          {{ data.quantity }}
        </ng-container>
        <ng-template #quantityEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.quantity">
            <nz-input-number nzMin="1" nzStep="1"
                             [(ngModel)]="editCache.data.quantity"
                             (ngModelChange)="checkModelNotNull('quantity')"></nz-input-number>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else expectedWeightEditTpl">
          {{ data.expectedWeight }}
        </ng-container>
        <ng-template #expectedWeightEditTpl>
          <nz-form-control [nzValidateStatus]="editCacheValidateStatus.expectedWeight">
            <nz-input-number nzMin="0" nzStep="0.0001"
                             [(ngModel)]="editCache.data.expectedWeight"
                             (ngModelChange)="checkModelNotNull('expectedWeight')"></nz-input-number>
          </nz-form-control>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id === null">
          <a (click)="startEditProduct(data._id)">编辑</a>
          <a nz-popconfirm
             style="margin-left: 5px"
             class="delete"
             nzTitle="确认删除?"
             (nzOnConfirm)="confirmProductDelete(data._id)">
            删除
          </a>
        </ng-container>
        <ng-container *ngIf="editCache._id !== data['_id']; else saveTpl">

        </ng-container>
        <ng-template #saveTpl>
          <a (click)="saveProductEdit(data._id)">保存</a>
          <a nz-popconfirm
             nzTitle="确认取消?"
             (nzOnConfirm)="cancelProductEdit(data._id)"
             style="margin-left: 5px;">
            取消
          </a>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
