<nz-page-header>
  <nz-page-header-title>新增用户</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary"
            (click)="saveUser()"
            [disabled]="!userManagementForm.valid || isSaving">
      <i nz-icon nzType="save" nzTheme="outline" *ngIf="!isSaving"></i>
      <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isSaving"></i>
      保存
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <form nz-form nzLayout="inline" [formGroup]="userManagementForm">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">姓名</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="14">
            <input nz-input formControlName="name" class="info-input"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">电话号码</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="14">
            <input nz-input type="number" formControlName="phoneNumber" class="info-input"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">城市</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="14">
            <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="saveCityTmp($event)">
              <div nz-row>
                <div nz-col nzSpan="12"><label nz-checkbox nzValue="1">苏州</label></div>
                <div nz-col nzSpan="12"><label nz-checkbox nzValue="2">昆山</label></div>
              </div>
            </nz-checkbox-wrapper>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <h3>权限列表</h3>
  <nz-table #userAuthTable
            nzBordered
            nzShowPagination="true"
            [nzData]="authsTmp">
    <thead>
    <tr>
      <th nzWidth="200px">描述</th>
      <th nzWidth="200px">是否拥有</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of userAuthTable.data">
      <td> {{ data.description }}</td>
      <td>
        <nz-tag nzColor="{{ data.action | user_management_auth_color }}">{{ data.action | user_management_auth
          }}
        </nz-tag>
      </td>
      <td nzRight="0px">
        <a style="margin-left: 5px"
           class="abandon"
           [class.disabled]="false"
           nz-popconfirm
           nzPopconfirmTitle="确认删除?"
           nzPopconfirmPlacement="top"
           (nzOnConfirm)="confirmAbandon(data.id)" *ngIf="data.action===1">
          删除权限
        </a>
        <a style="margin-left: 5px"
           class="abandon"
           [class.disabled]="false"
           nz-popconfirm
           nzPopconfirmTitle="确认赋予?"
           nzPopconfirmPlacement="top"
           (nzOnConfirm)="confirmAdd(data.id)" *ngIf="data.action===0">
          赋予权限
        </a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <br/>
  <div class="operate">

  </div>

</div>
