<nz-page-header>
  <nz-page-header-title>加工单列表</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="/workspace/processing-order/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增加工单
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <div nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label>加工单编号</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [(ngModel)]="orderCode" (ngModelChange)="resetPageIndex()"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>客户</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [(ngModel)]="customerName" (ngModelChange)="resetPageIndex()"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>状态</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="selectedStatus" nzAllowClear="true"
                   (ngModelChange)="resetPageIndex()"
                   style="width: 7em">
          <nz-option nzLabel="草稿中" nzValue="0"></nz-option>
          <nz-option nzLabel="未完成" nzValue="1"></nz-option>
          <nz-option nzLabel="已完成" nzValue="2"></nz-option>
          <nz-option nzLabel="已废弃" nzValue="3"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>添加时间</nz-form-label>
      <nz-form-control>
        <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }"
                         nzFormat="yyyy-MM-dd HH:mm"
                         [nzPlaceHolder]="['开始时间', '结束时间']"
                         (ngModelChange)="resetPageIndex()"
                         [(ngModel)]="timeRange">

        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="search()">搜索</button>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="table-wrapper">
    <nz-table #processingOrderTable
              nzShowSizeChanger
              [nzFrontPagination]="false"
              [nzData]="orderList"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="search()"
              (nzPageSizeChange)="search()"
              [nzTotal]="totalPages * pageSize"
              [nzLoading]="isLoading"
              [nzScroll]="{ x: '100%'}">
      <thead>
      <tr>
        <th nzLeft="0px" nzWidth="150px">编号</th>
        <th>客户</th>
        <th>出货单编号</th>
        <th>业务员</th>
        <th>添加时间</th>
        <th>状态</th>
        <th nzRight="0px" nzWidth="150px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of processingOrderTable.data">
        <td nzLeft="0px">
          <a routerLink="/workspace/processing-order/info/{{ data.id }}">
            {{ data.code }}
          </a>
        </td>
        <td>
          <a routerLink="/workspace/customer/info/{{ data.customerId }}">
            {{ data.customerName }}
          </a>
        </td>
        <td>
          <a routerLink="/workspace/shipping-order/info/{{ data.shippingOrderId }}">
            {{ data.shippingOrderCode }}
          </a>
        </td>
        <td>{{ data.salesman }}</td>
        <td>{{ data.createdAt }}</td>
        <td>
          <nz-tag nzColor="{{ data.status | processing_order_status_color }}">
            {{ data.status | processing_order_status }}
          </nz-tag>
        </td>
        <td nzRight="0px">
          <a routerLink="/workspace/processing-order/info/{{ data.id }}">查看</a>
          <a style="margin-left: 5px"
             class="abandon"
             [class.disabled]="data.status === 2 || data.status === 3"
             nz-popconfirm
             nzPopconfirmTitle="确认废弃?"
             nzPopconfirmPlacement="top"
             (nzOnConfirm)="confirmAbandon(data.id)">
            废弃
          </a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
