<nz-page-header>
  <nz-page-header-title>客户详情</nz-page-header-title>
  <nz-page-header-extra>
    <ng-container *ngIf="!isInfoEditing">
      <button nz-button nzType="primary" (click)="startInfoEdit()" [disabled]="editCache._id !== null">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        编辑
      </button>
    </ng-container>
    <ng-container *ngIf="isInfoEditing">
      <button nz-button nzType="default" (click)="cancelInfoEdit()">
        取消
      </button>
      <button nz-button nzType="primary" (click)="saveInfoEdit()" [nzLoading]="isInfoSaving">
        <i nz-icon nzType="save" nzTheme="outline" *ngIf="!isInfoSaving"></i>
        保存
      </button>
    </ng-container>
  </nz-page-header-extra>
</nz-page-header>
<div class="content" *ngIf="isLoading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div class="content" *ngIf="!isLoading">
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="客户ID">
      {{ customerData.id }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="客户名称">
      <ng-container *ngIf="!isInfoEditing; else nameEditTpl">
        {{ customerData.name }}
      </ng-container>
      <ng-template #nameEditTpl>
        <nz-form-control [nzValidateStatus]="customerDataValidate.name">
          <input nz-input [(ngModel)]="customerDataCache.name" (ngModelChange)="onInputValueChange($event, 'name')"/>
        </nz-form-control>
      </ng-template>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="速记编号">
      <ng-container *ngIf="!isInfoEditing; else shorthandEditTpl">
        {{ customerData.shorthand }}
      </ng-container>
      <ng-template #shorthandEditTpl>
        <nz-form-control>
          <input nz-input [(ngModel)]="customerDataCache.shorthand"/>
        </nz-form-control>
      </ng-template>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="客户类型">
      <ng-container *ngIf="!isInfoEditing; else typeEditTpl">
        {{ customerData.type | customer_type_pipe }}
      </ng-container>
      <ng-template #typeEditTpl>
        <nz-form-control>
          <nz-select [(ngModel)]="customerDataCache.type" style="width: 100px">
            <nz-option nzLabel="现金客户" [nzValue]="1"></nz-option>
            <nz-option nzLabel="月结客户" [nzValue]="2"></nz-option>
          </nz-select>
        </nz-form-control>
      </ng-template>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="账期">
      <ng-container *ngIf="!isInfoEditing; else periodEditTpl">
        {{ customerData.period }}个月
      </ng-container>
      <ng-template #periodEditTpl>
        <nz-form-control [nzValidateStatus]="customerDataValidate.period">
          <nz-input-number [(ngModel)]="customerDataCache.period"
                           (ngModelChange)="onInputValueChange($event, 'period')"
                           [nzFormatter]="periodFormatter" nzMin="1" nzStep="1"></nz-input-number>
        </nz-form-control>
      </ng-template>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="结算日期">
      <ng-container *ngIf="!isInfoEditing; else payDateEditTpl">
        {{ customerData.payDate }}日
      </ng-container>
      <ng-template #payDateEditTpl>
        <nz-form-control [nzValidateStatus]="customerDataValidate.payDate">
          <nz-input-number [(ngModel)]="customerDataCache.payDate"
                           (ngModelChange)="onInputValueChange($event, 'payDate')"
                           [nzFormatter]="payDateFormatter" nzMin="1" nzMax="31" nzStep="1"></nz-input-number>
        </nz-form-control>
      </ng-template>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="描述" [nzSpan]="3">
      <ng-container *ngIf="!isInfoEditing; else descriptionEditTpl">
        {{ customerData.description }}
      </ng-container>
      <ng-template #descriptionEditTpl>
        <textarea nz-input
                  [(ngModel)]="customerDataCache.description"
                  [nzAutosize]="{ minRows: 2, maxRows: 6 }">
        </textarea>
      </ng-template>
    </nz-descriptions-item>
  </nz-descriptions>
  <br/>
  <div nz-row class="table-header">
    <h3 style="display: inline-block">商品特价列表</h3>
    <button nz-button
            nzType="primary"
            style="display: inline-block; margin-left: 20px"
            (click)="addSpecialPriceRow()"
            nzSize="small"
            [disabled]="editCache._id !== null || isInfoEditing">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增
    </button>
  </div>
  <nz-table #specialPricesTable
            nzBordered
            nzShowPagination="false"
            nzSize="middle"
            [nzScroll]="{ y: '400px' }"
            [nzData]="customerData.specialPrices">
    <thead>
    <tr>
      <th nzWidth="100px">商品编号</th>
      <th nzWidth="300px">商品</th>
      <th nzWidth="200px">单价</th>
      <th nzWidth="200px">单位</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of specialPricesTable.data">
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else productIdEditTpl">
          {{ data.productId }}
        </ng-container>
        <ng-template #productIdEditTpl>
          {{ editCache.data.productId }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else productNameEditTpl">
          {{ data.productName }}
        </ng-container>
        <ng-template #productNameEditTpl>
          <nz-select [(ngModel)]="editCache.product"
                     nzShowSearch
                     nzServerSearch
                     (nzOnSearch)="onProductSearch($event)"
                     (ngModelChange)="onChangeSelectedProduct($event)"
                     style="width: 100px">
            <nz-option *ngIf="!isProductsLoading" nzLabel="{{ editCache.currentProduct.name }}" [nzValue]="editCache.currentProduct" nzHide></nz-option>
            <ng-container *ngFor="let p of searchProducts">
              <nz-option *ngIf="!isProductsLoading" nzLabel="{{ p.name }}" [nzValue]="p"></nz-option>
            </ng-container>
            <nz-option *ngIf="isProductsLoading" nzDisabled nzCustomContent>
              <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
            </nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else priceEditTpl">
          &yen; {{ data.price | number: '1.2-2' }}
        </ng-container>
        <ng-template #priceEditTpl>
          <nz-input-number [(ngModel)]="editCache.data.price" nzMin="0" nzStep="0.01" [nzFormatter]="cashFormatter"></nz-input-number>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id !== data['_id']; else priceTypeEditTpl">
          {{ data.priceType | customer_price_type_pipe }}
        </ng-container>
        <ng-template #priceTypeEditTpl>
          <nz-select [(ngModel)]="editCache.data.priceType">
            <nz-option nzLabel="元/千克" [nzValue]="1"></nz-option>
            <nz-option nzLabel="元/件" [nzValue]="2"></nz-option>
          </nz-select>
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editCache._id === null || isInfoEditing">
          <a (click)="startEditSpecialPrice(data._id)">编辑</a>
          <a nz-popconfirm
             style="margin-left: 5px"
             class="delete"
             nzTitle="确认删除?"
             (nzOnConfirm)="confirmSpecialPriceDelete(data._id)">
            删除
          </a>
        </ng-container>
        <ng-container *ngIf="editCache._id !== data['_id']; else saveTpl">

        </ng-container>
        <ng-template #saveTpl>
          <a (click)="saveSpecialPriceEdit(data._id)">保存</a>
          <a nz-popconfirm
             nzTitle="确定取消?"
             (nzOnConfirm)="cancelSpecialPriceEdit(data._id)"
             style="margin-left: 5px">
            取消
          </a>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>
