<nz-page-header>
  <nz-page-header-title>采购单列表</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="/workspace/purchase-order/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增采购单
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <div nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label>采购单编号</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [(ngModel)]="orderCode"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>状态</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="selectedStatus" nzAllowClear="true" style="width: 7em">
          <nz-option nzLabel="已完成" nzValue="1"></nz-option>
          <nz-option nzLabel="已废弃" nzValue="2"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>采购时间</nz-form-label>
      <nz-form-control>
        <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }"
                         nzFormat="yyyy-MM-dd HH:mm"
                         [nzPlaceHolder]="['开始时间', '结束时间']"
                         [(ngModel)]="timeRange">

        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="search()">搜索</button>
      </nz-form-control>
    </nz-form-item>
    <div class="table-wrapper">
      <nz-table #purchaseOrderTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="orderList"
                [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="search()"
                (nzPageSizeChange)="search()"
                [nzTotal]="totalPages * pageSize"
                [nzLoading]="isLoading"
                [nzScroll]="{ x: '100%'}">
        <thead>
        <tr>
          <th nzLeft="0px" nzWidth="150px">编号</th>
          <th nzWidth="150px">描述</th>
          <th>金额</th>
          <th>业务员</th>
          <th>采购日期</th>
          <th>状态</th>
          <th nzRight="0px" nzWidth="150px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of purchaseOrderTable.data">
          <td nzLeft="0px">
            <a routerLink="/workspace/purchase-order/info/{{ data.id }}">{{ data.code }}</a>
          </td>
          <td nzBreakWord>{{ data.description }}</td>
          <td>&yen;{{ data.cash | number: '1.2-2' }}</td>
          <td>{{ data.salesman }}</td>
          <td>{{ data.doneAt }}</td>
          <td>
            <nz-tag nzColor="{{ data.status | purchase_order_status_color }}">
              {{ data.status | purchase_order_status }}
            </nz-tag>
          </td>
          <td nzRight="0px">
            <a routerLink="/workspace/purchase-order/info/{{ data.id }}">查看</a>
            <a style="margin-left: 5px"
               class="abandon"
               [class.disabled]="data.status === 3"
               nz-popconfirm
               nzPopconfirmTitle="确认废弃?"
               nzPopconfirmPlacement="top"
               (nzOnConfirm)="confirmAbandon(data.id)">
              废弃
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
