<nz-page-header>
  <nz-page-header-title>出货单详情</nz-page-header-title>
  <nz-page-header-extra>
    <div>
      <e-ngx-print
        [btnText]="'打印'"
        [printHTML]="print_div"
        [printStyle]="printStyle"
        [printCSS]="printCSS"
        (printComplete)="printComplete()">
      </e-ngx-print>
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="content" *ngIf="isLoading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div class="content" *ngIf="!isLoading">
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="出货单编号" [nzSpan]="2">{{ shippingOrderData.code }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="收款单编号" [nzSpan]="2"><a
      routerLink="/workspace/arrear-order/info/{{shippingOrderData.arrearOrderId}}">{{
      shippingOrderData.arrearOrderCode }}</a></nz-descriptions-item>
    <nz-descriptions-item nzTitle="客户" [nzSpan]="2">{{ shippingOrderData.customerName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="2">
      <nz-tag nzColor="{{ shippingOrderData.status | shipping_order_status_color }}">
        {{ shippingOrderData.status | shipping_order_status }}
      </nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建时间" [nzSpan]="2">{{ shippingOrderData.createdAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建者" [nzSpan]="2">{{ shippingOrderData.createdByName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃时间" *ngIf="shippingOrderData.status === 2" [nzSpan]="2">{{
      shippingOrderData.deletedAt }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃者" *ngIf="shippingOrderData.status === 2" [nzSpan]="2">{{
      shippingOrderData.deletedByName }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="加工单编号" [nzSpan]="4">
      <a *ngFor="let data of shippingOrderData.processingOrderIdsCodes"
         routerLink="/workspace/processing-order/info/{{data.processingOrderId}}">{{ data.processingOrderCode }}<br></a>
    </nz-descriptions-item>
  </nz-descriptions>
  <br/>
  <div nz-row class="table-header">
    <h3 style="display: inline-block">商品列表</h3>
  </div>
  <nz-table #shippingOrderInfoProductsTable
            nzBordered
            nzShowPagination="false"
            nzSize="middle"
            [nzData]="shippingOrderData.products">
    <thead>
    <tr>
      <th nzWidth="150px">加工单编号</th>
      <th nzWidth="100px">商品</th>
      <th nzWidth="160px">加工规格</th>
      <th nzWidth="100px">数量(件)</th>
      <th nzWidth="100px">单价</th>
      <th nzWidth="100px">预计重量</th>
      <th nzWidth="100px">实际重量</th>
      <th nzWidth="100px">计价方式</th>
      <th>金额</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of shippingOrderInfoProductsTable.data">
      <td>
        <ng-container>
          <a routerLink="/processing-order/info/">{{ data.processingOrderCode }}</a>
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.productName }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.specification }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.quantity }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.price }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.expectedWeight }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.weight }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.priceType | shipping_order_price_type }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.cash }}
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <br/>
  <div nz-row class="table-header">
    <h3 style="display: inline-block">结算</h3>
  </div>
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="累计金额" [nzSpan]="2">{{ shippingOrderData.cash }} 元</nz-descriptions-item>
    <nz-descriptions-item nzTitle="浮动金额" [nzSpan]="2">- {{ shippingOrderData.floatingCash }} 元</nz-descriptions-item>
    <nz-descriptions-item nzTitle="应收金额" [nzSpan]="2">{{ shippingOrderData.receivableCash }} 元</nz-descriptions-item>
  </nz-descriptions>
</div>


<div id="print_div" #print_div>
  <p>(出货单编号:){{ shippingOrderData.code }}</p>
  <p>(收款单编号:){{ shippingOrderData.arrearOrderCode }}</p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <p>(客户:){{ shippingOrderData.customerName }}</p>
  <!--<p>状态:{{ shippingOrderData.status === 1 }}</p>-->
  <!--<p>创建时间:{{ shippingOrderData.createdAt }}</p>-->
  <!--<p>创建者:{{ shippingOrderData.createdByName }}</p>-->
  <!--<p>废弃时间:{{ shippingOrderData.deletedAt }}</p>-->
  <!--<p>废弃者:{{ shippingOrderData.deletedByName }}</p>-->
  <!--<p>加工单编号:{{ code }}</p>-->


  <!--<p>浮动金额:{{ shippingOrderData.floatingCash }}</p>-->
  <!--<p>应收金额:{{ shippingOrderData.receivableCash }}</p>-->
  <table>
    <thead>
    <tr>
      <th style="width: 200px">(加工单编号)</th>
      <th style="width: 100px">(商品)</th>
      <th style="width: 200px">(加工规格)</th>
      <th style="width: 100px">(数量(件))</th>
      <th style="width: 100px">(单价)</th>
      <!--<th nzWidth="100px">(预计重量)</th>-->
      <th style="width: 100px">(实际重量)</th>
      <th style="width: 100px">(金额)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of shippingOrderData.products">
      <td> {{ data.processingOrderCode }}</td>
      <td> {{ data.productName }}</td>
      <td> {{ data.specification }}</td>
      <td> {{ data.quantity }}</td>
      <td> {{ data.price }}</td>
      <!--<td> {{ data.expectedWeight }}</td>-->
      <td> {{ data.weight }}</td>
      <td> {{ data.cash }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <!--<td></td>-->
      <td></td>
      <td>(合计)</td>
      <td> {{ shippingOrderData.cash }}</td>
    </tr>
    </tbody>
  </table>
  <p>注* ()中的最后会去除</p>
</div>



