<nz-page-header>
  <nz-page-header-title>出货单详情</nz-page-header-title>
  <nz-page-header-extra>
    <div>
      <e-ngx-print #print1
                   [showBtn]="false"
                   [printStyle]="printStyle"
                   [printCSS]="printCSS"
                   (printComplete)="printComplete()">
      </e-ngx-print>
      <button nz-button nzType="primary" (click)="showModal()">打印</button>
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="content" *ngIf="isLoading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div class="content" *ngIf="!isLoading">
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="出货单编号" [nzSpan]="2">{{ shippingOrderData.code }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="收款单编号" [nzSpan]="2"><a
      routerLink="/workspace/arrear-order/info/{{shippingOrderData.arrearOrderId}}">{{
      shippingOrderData.arrearOrderCode }}</a></nz-descriptions-item>
    <nz-descriptions-item nzTitle="客户" [nzSpan]="2">{{ shippingOrderData.customerName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="2">
      <nz-tag nzColor="{{ shippingOrderData.status | shipping_order_status_color }}">
        {{ shippingOrderData.status | shipping_order_status }}
      </nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建时间" [nzSpan]="2">{{ shippingOrderData.createdAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建者" [nzSpan]="2">{{ shippingOrderData.createdByName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃时间" *ngIf="shippingOrderData.status === 2" [nzSpan]="2">{{
      shippingOrderData.deletedAt }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="废弃者" *ngIf="shippingOrderData.status === 2" [nzSpan]="2">{{
      shippingOrderData.deletedByName }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="加工单编号" [nzSpan]="4">
      <a *ngFor="let data of shippingOrderData.processingOrderIdsCodes"
         routerLink="/workspace/processing-order/info/{{data.processingOrderId}}">{{ data.processingOrderCode }}<br></a>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="是否含税" [nzSpan]="4">
      {{ shippingOrderData.hasTax | shipping_order_hasTax_type }}
    </nz-descriptions-item>
  </nz-descriptions>
  <br/>
  <div nz-row class="table-header">
    <h3 style="display: inline-block">商品列表</h3>
  </div>
  <nz-table #shippingOrderInfoProductsTable
            nzBordered
            nzShowPagination="false"
            nzSize="middle"
            [nzData]="shippingOrderData.products">
    <thead>
    <tr>
      <th nzWidth="150px">加工单编号</th>
      <th nzWidth="100px">商品</th>
      <th nzWidth="160px">加工规格(厘米)</th>
      <th nzWidth="100px">数量(件)</th>
      <th nzWidth="100px">单价(元)</th>
      <th nzWidth="100px">预计重量(公斤)</th>
      <th nzWidth="100px">实际重量(公斤)</th>
      <th nzWidth="100px">计价方式</th>
      <th>金额(元)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of shippingOrderInfoProductsTable.data">
      <td>
        <ng-container>
          <a routerLink="/workspace/processing-order/info/{{data.processingOrderId}}">{{ data.processingOrderCode }}</a>
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.productName }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.specification }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.quantity }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.price }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.expectedWeight }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.weight }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.priceType | shipping_order_price_type }}
        </ng-container>
      </td>
      <td>
        <ng-container>
          {{ data.cash }}
        </ng-container>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <br/>
  <div nz-row class="table-header">
    <h3 style="display: inline-block">结算</h3>
  </div>
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="累计金额" [nzSpan]="2">{{ shippingOrderData.cash }} 元</nz-descriptions-item>
    <nz-descriptions-item nzTitle="浮动金额" [nzSpan]="2">- {{ shippingOrderData.floatingCash }} 元</nz-descriptions-item>
    <nz-descriptions-item nzTitle="应收金额" [nzSpan]="2">{{ shippingOrderData.receivableCash }} 元</nz-descriptions-item>
  </nz-descriptions>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>

<!--按件数-->
<div>
  <p *ngIf="showPrint">(XX公司销售出货单)</p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <p *ngIf="showPrint">(客户:){{ shippingOrderData.customerName }}</p>
  <p *ngIf="showPrint">(本单含税/未税){{ hasTax }}</p>
  <p *ngIf="showPrint">(出货单编号:){{ shippingOrderData.code }}</p>
  <table *ngIf="showPrint">
    <thead>
    <tr>
      <th style="width: 200px">(订单号)</th>
      <th style="width: 200px">(物料编码)</th>

      <th style="width: 100px">(商品)</th>
      <th style="width: 200px">(规格)</th>
      <th style="width: 100px">(数量(件))</th>
      <th style="width: 100px">(单价)</th>
      <th style="width: 100px">(总金额)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of printCountList">
      <td> {{ data.orderId }}</td>
      <td> {{ data.code }}</td>

      <td> {{ data.name }}</td>
      <td> {{ data.specification }}</td>
      <td> {{ data.count }}</td>
      <td> {{ data.price }}</td>
      <td> {{ data.total }}</td>
    </tr>
    <tr>
      <td>(合计(大写))</td>
      <td> {{ stringMoney }}</td>
      <td></td>
      <td></td>
      <td></td>
      <td>(合计)</td>
      <td> {{ shippingOrderData.cash }}</td>
    </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <br/>
  <p *ngIf="showPrint">(备注:){{ remarks }}</p>
</div>

<!--按重量-->
<div>
  <p *ngIf="showPrint">(XX公司销售出货单)</p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <p *ngIf="showPrint">(客户:){{ shippingOrderData.customerName }}</p>
  <p *ngIf="showPrint">(本单含税/未税){{ hasTax }}</p>
  <p *ngIf="showPrint">(出货单编号:){{ shippingOrderData.code }}</p>
  <table *ngIf="showPrint">
    <thead>
    <tr>
      <th style="width: 100px">(商品)</th>
      <th style="width: 200px">(规格)</th>
      <th style="width: 100px">(数量(KG))</th>
      <th style="width: 100px">(单价)</th>
      <th style="width: 100px">(实际重量)</th>
      <th style="width: 100px">(总金额)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of shippingOrderData.products">
      <td> {{ data.productName }}</td>
      <td> {{ data.specification }}</td>
      <td> {{ data.quantity }}</td>
      <td> {{ data.price }}</td>
      <td> {{ data.weight }}</td>
      <td> {{ data.cash }}</td>
    </tr>
    <tr>
      <td>(合计(大写))</td>
      <td> {{ stringMoney }}</td>
      <td></td>
      <td></td>
      <td>(合计(小写))</td>
      <td> {{ shippingOrderData.cash }}</td>
    </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <br/>
  <p *ngIf="showPrint">(备注:){{ remarks }}</p>
  <p *ngIf="showPrint">(收货单位签字:)</p>
</div>

<nz-modal style="width: 300px" [(nzVisible)]="isVisibleWeight" nzTitle="打印" (nzOnCancel)="handleCancel()"
          (nzOnOk)="customPrintWeight('print1')">
  <form nz-form nzLayout="inline" [formGroup]="printFormWeight">
    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="8">本单含税/未税</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="16">
            <nz-radio-group formControlName="hasTax">
              <label nz-radio nzValue="含税">含税</label>
              <label nz-radio nzValue="未税">未税</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="8">备注</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="16">
            <textarea formControlName="remarks" nz-input rows="3"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

<nz-modal nzWidth="1000px" [(nzVisible)]="isVisibleCount" nzTitle="打印" (nzOnCancel)="handleCancel()"
          (nzOnOk)="customPrintCount('print1')" *ngIf="!isLoading">
  <!--TODO-->
  <nz-table #editRowTable
            nzBordered
            nzShowPagination="false"
            nzSize="middle"
            [nzData]="printCountList"
            [nzScroll]="{ y: '400px' }">
    <thead>
    <tr>
      <th style="width: 200px">订单号</th>
      <th style="width: 150px">物料编码</th>

      <th style="width: 100px">商品</th>
      <th style="width: 100px">规格</th>
      <th style="width: 100px">数量(件)</th>
      <th style="width: 100px">单价</th>
      <th style="width: 100px">总金额</th>
      <th style="width: 150px">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td style="width: 200px">
        <ng-container *ngIf="!editCache[data.id].edit; else orderIdInputTpl">
          {{ data.orderId }}
        </ng-container>
        <ng-template #orderIdInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.orderId"/>
        </ng-template>
      </td>
      <td style="width: 150px">
        <ng-container *ngIf="!editCache[data.id].edit; else codeInputTpl">
          {{ data.code }}
        </ng-container>
        <ng-template #codeInputTpl>
          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.code"/>
        </ng-template>
      </td>
      <td style="width: 100px">
        <ng-container>
          {{ data.name }}
        </ng-container>
      </td>
      <td style="width: 100px">
        <ng-container>
          {{ data.specification }}
        </ng-container>
      </td>
      <td style="width: 100px">
        <ng-container>
          {{ data.count }}
        </ng-container>
      </td>
      <td style="width: 100px">
        <ng-container>
          {{ data.price }}
        </ng-container>
      </td>
      <td style="width: 100px">
        <ng-container>
          {{ data.total }}
        </ng-container>
      </td>
      <td style="width: 150px">
        <div class="editable-row-operations">
          <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
            <a (click)="startEdit(data.id)">编辑</a>
          </ng-container>
          <ng-template #saveTpl>
            <a (click)="saveEdit(data.id)">[保存]</a>
            <a nz-popconfirm nzTitle="确定取消?" (nzOnConfirm)="cancelEdit(data.id)">[取消]</a>
          </ng-template>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <form nz-form nzLayout="inline" [formGroup]="printFormCount">

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">本单含税/未税</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="18">
            <nz-radio-group formControlName="hasTax">
              <label nz-radio nzValue="含税">含税</label>
              <label nz-radio nzValue="未税">未税</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col nzSpan="24">
        <nz-form-item nzFlex>
          <nz-form-label nzRequired nzSpan="6">备注</nz-form-label>
          <nz-form-control nzHasFeedback nzSpan="18">
            <textarea formControlName="remarks" nz-input rows="4"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-modal>

