<nz-page-header>
  <nz-page-header-title>商品列表</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="addRow()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增商品
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <div class="table-wrapper">
    <nz-table #productsAddTable
              nzShowSizeChanger
              nzShowPagination
              [nzFrontPagination]="false"
              [nzData]="products"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="search()"
              (nzPageSizeChange)="search()"
              [nzTotal]="totalPages * pageSize"
              [nzLoading]="isLoading">
      <thead>
      <tr>
        <th nzWidth="120px">编号</th>
        <th nzWidth="120px">商品</th>
        <th nzWidth="120px">速记编号</th>
        <th nzWidth="120px">类型</th>
        <th nzWidth="120px">密度(公斤/立方毫米)</th>
        <th nzRight="0px">规格(毫米)</th>
        <th>操作</th>
      </tr>

      </thead>

      <tbody>
      <tr *ngFor="let data of productsAddTable.data">
        <td>
          {{ data.id }}
        </td>
        <td>
          <ng-container *ngIf="editCache._id !== data['_id']">
            {{ data.name }}
          </ng-container>
          <ng-container *ngIf="editCache._id === data['_id']">
            <input type="text" nz-input [(ngModel)]="editCache.data.name">
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="editCache._id !== data['_id']">
            {{ data.shorthand }}
          </ng-container>
          <ng-container *ngIf="editCache._id === data['_id']">
            <input type="text" nz-input [(ngModel)]="editCache.data.shorthand">
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="editCache._id !== data['_id']">
            {{ data.type | product_type}}
          </ng-container>
          <ng-container *ngIf="editCache._id === data['_id']">
            <nz-select [(ngModel)]="editCache.data.type">
              <nz-option nzLabel="板材" [nzValue]="0"></nz-option>
              <nz-option nzLabel="型材" [nzValue]="1"></nz-option>
              <nz-option nzLabel="铝棒" [nzValue]="2"></nz-option>
              <nz-option nzLabel="损耗" [nzValue]="3"></nz-option>
            </nz-select>
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="editCache._id !== data['_id']">
            {{ data.density }}
          </ng-container>
          <ng-container *ngIf="editCache._id === data['_id']">
            <nz-input-number [(ngModel)]="editCache.data.density" nzMin="0" nzStep="0.001"
                           class="table-number-input"></nz-input-number>
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="editCache._id !== data['_id']">
            {{ data.specification }}
          </ng-container>
          <ng-container *ngIf="editCache._id === data['_id']">
            <input type="text" nz-input [(ngModel)]="editCache.data.specification">
          </ng-container>
        </td>

        <td>
          <ng-container *ngIf="editCache._id === null">
            <a (click)="startEdit(data._id)">编辑</a>
            <a nz-popconfirm
               style="margin-left: 5px;"
               class="delete"
               [class.disabled]="isSaving"
               nzTitle="确认删除?"
               (nzOnConfirm)="confirmDelete(data.id)">
              删除
            </a>
          </ng-container>
            <ng-container *ngIf="editCache._id !== data['_id']; else saveTpl">
          </ng-container>

          <ng-template #saveTpl>
            <a (click)="saveEdit(data._id)">保存</a>
            <a nz-popconfirm
               nzTitle="确定取消?"
               (nzOnConfirm)="cancelEdit(data._id)"
               style="margin-left: 5px">
              取消
            </a>
          </ng-template>
        </td>
      </tr>

      </tbody>
    </nz-table>
  </div>

</div>
