<nz-page-header>
  <nz-page-header-title>出货单列表</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="beginAddInvoiceNumber()">
      <i nz-icon nzTheme="outline"></i>
      录入发票
    </button>

    <div style="display: inline-block">
      <e-ngx-print #print1
                   [showBtn]="false"
                   [printStyle]="printStyle"
                   [printCSS]="printCSS"
                   (printComplete)="printComplete()">
      </e-ngx-print>
      <button nz-button nzType="primary" [disabled]="isPrintButtonAvailiable"
              (click)="customPrint()">
        打印
      </button>
    </div>

    <nz-modal [(nzVisible)]="isInvoiceModalVisible"
              nzTitle="录入发票流水号"
              (nzOnCancel)="cancelAddInvoiceNumber()"
              (nzOnOk)="confirmAddInvoiceNumber()">
      <div nz-form nzLayout="inline">
        <nz-form-item>
          <nz-form-label>发票流水号</nz-form-label>
          <nz-form-control>
            <input nz-input type="text" [(ngModel)]="invoiceNumber"/>
          </nz-form-control>
        </nz-form-item>
      </div>

    </nz-modal>
  </nz-page-header-extra>
</nz-page-header>

<div class="content">
  <div class="table-wrapper">
    <nz-table
      #rowSelectionTable
      nzShowPagination
      nzShowSizeChanger
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      [nzData]="shippingOrderList">
      <!--      (nzCurrentPageDataChange)="currentPageDataChange($event)"-->

      <thead>
      <tr>
        <th></th>
        <th>出货单号</th>
        <th>金额</th>
        <th>创建时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td
          nzShowCheckbox
          [(nzChecked)]="mapOfCheckedId[data.id]"
        ></td>
        <td>
          <a routerLink="/workspace/shipping-order/info/{{ data.id }}">{{ data.code }}</a>
        </td>
        <td>{{ data.receivableCash  | number: '1.2-3' }}</td>
        <td>{{ data.createdAt }}</td>
        <td>
          <nz-tag nzColor="{{ data.hasReconciliationed | shipping_order_reconciliation_status_color }}">
            {{ data.hasReconciliationed | shipping_order_reconciliation_status }}
          </nz-tag>
        </td>
        <td>
          <ng-container *ngIf="data.hasReconciliationed">
            <a nz-popconfirm
               style="margin-left: 5px"
               class="delete"
               nzTitle="确认修改?"
               (nzOnConfirm)="changeReconciliation(data.id)">
              取消对账
            </a>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<div class="print-wrapper">
  <br/>
  <div style="height: 400px">
    <table *ngIf="showPrint">
      <thead>
      <tr>
        <!--<th style="width: 200px">出货单号</th>-->
        <!--<th style="width: 100px">金额</th>-->
        <!--<th style="width: 200px">创建时间</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of toPrintList">
        <td style="width: 200px"> {{ data.code }}</td>
        <td style="width: 150px"> {{ data.receivableCash }}</td>
        <td style="width: 300px"> {{ data.createdAt }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div style="position: relative">
    <div style="position: absolute; left: 100">
      <p *ngIf="showPrint">{{ toPrintMoney }}</p>
    </div>
  </div>
</div>
