<nz-page-header>
  <nz-page-header-title>采购单详情</nz-page-header-title>
</nz-page-header>
<div class="content" *ngIf="isLoading">
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>
<div class="content" *ngIf="!isLoading">
<!--  欠款单编号 出货单编号 状态 发票流水号 客户  应收金额 已收金额 截至日期 创建者 创建时间 删除者 删除时间-->
  <nz-descriptions nzBordered nzSize="small">
    <nz-descriptions-item nzTitle="欠款明细编号" [nzSpan]="2">{{ arrearOrderData.code }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="出货单编号" [nzSpan]="2">{{ arrearOrderData.shippingOrderCode }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="客户" [nzSpan]="2">{{ arrearOrderData.customerName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态" [nzSpan]="2">
      <nz-tag nzColor="{{ arrearOrderData.status | arrear_order_status_color }}">
        {{ arrearOrderData.status | arrear_order_status }}
      </nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="应收金额" [nzSpan]="2">&yen;{{ arrearOrderData.receivableCash | number:'1.2-2' }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="已收金额" [nzSpan]="2">&yen;{{ arrearOrderData.receivedCash | number:'1.2-2' }}</nz-descriptions-item>

    <nz-descriptions-item nzTitle="截至时间" [nzSpan]="4">
      <nz-form-control *ngIf="!isChangeDueDate">
        {{ arrearOrderData.dueDate }}
        <button nz-button [nzType]="'primary'"  (click)="changeDueDate()">编辑</button>
      </nz-form-control>

      <nz-form-control *ngIf="isChangeDueDate">
        <nz-form-control>
          <nz-date-picker nzShowTime
                          [(ngModel)]="duedate"
                          [nzDisabledDate]="disabledDate"
                          nzFormat="yyyy-MM-dd HH:mm"
                          nzPlaceHolder="选择时间">

          </nz-date-picker>
        </nz-form-control>
        <button nz-button [nzType]="'primary'"  (click)="confirmChangeDueDate()">确认</button>
        <button nz-button [nzType]="'primary'"  (click)="cancelChangeDueDate()">取消</button>
      </nz-form-control>
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="发票流水号" [nzSpan]="4">
      <nz-form-control *ngIf="!isChangeInvoiceNumber">
        {{ arrearOrderData.invoiceNumber }}
        <button nz-button [nzType]="'primary'"  (click)="changeInvoiceNumber()">编辑</button>
      </nz-form-control>

      <nz-form-control *ngIf="isChangeInvoiceNumber">
        <input nz-input type="text" [(ngModel)]="invoiceNumber"/>
        <button nz-button [nzType]="'primary'"  (click)="confirmChangeInvoiceNumber()">确认</button>
        <button nz-button [nzType]="'primary'"  (click)="cancelChangeInvoiceNumber()">取消</button>
      </nz-form-control>
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="创建时间" [nzSpan]="2">{{ arrearOrderData.createdAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="创建者" [nzSpan]="2">{{ arrearOrderData.createdByName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="最近更新时间" [nzSpan]="2">{{ arrearOrderData.updatedAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="更新者" [nzSpan]="2">{{ arrearOrderData.updatedByName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="删除时间" [nzSpan]="2">{{ arrearOrderData.deletedAt }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="删除者" [nzSpan]="2">{{ arrearOrderData.deletedByName }}</nz-descriptions-item>
  </nz-descriptions>
  <br/>
  <nz-tabset>
    <nz-tab nzTitle="付款记录">
      <div nz-row>
        <button nz-button
                (click)="addReceiptRecordRow()"
                nzType="primary"
                [disabled]="editCache._id !== null">
          <i nz-icon nzType="plus" nzTheme="outline"></i>
          新增收款记录
        </button>
      </div>
      <br/>
      <nz-table #arrearOrderReceiptRecordTable
                nzBordered
                nzShowPagination="false"
                nzSize="middle"
                [nzData]="arrearOrderData.receiptRecordList"
                [nzScroll]="{ y: '400px' }">
        <thead>
<!--        金额 描述 业务员 收款时间 状态 操作-->
        <tr>
          <th nzWidth="120px">金额</th>
          <th nzWidth="200px">描述</th>
          <th nzWidth="120px">业务员</th>
          <th nzWidth="250px">收款日期</th>
          <th nzWidth="100px">状态</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of arrearOrderReceiptRecordTable.data">
          <td>
            <ng-container *ngIf="editCache._id !== data['_id']; else cashEditTpl">
              &yen;{{ data.cash | number:'1.2-2' }}
            </ng-container>
            <ng-template #cashEditTpl>
              <nz-form-control [nzValidateStatus]="editCacheValidateStatus.cash">
                <nz-input-number nzMin="0" nzStep="0.01"
                                 [nzFormatter]="cashFormatter"
                                 [(ngModel)]="editCache.data.cash"
                                 (ngModelChange)="checkCashNotNull()"></nz-input-number>
              </nz-form-control>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="editCache._id !== data['_id']; else descriptionEditTpl">
              {{ data.description }}
            </ng-container>
            <ng-template #descriptionEditTpl>
              <input nz-input type="text" [(ngModel)]="editCache.data.description"/>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="editCache._id !== data['_id']; else salesmanEditTpl">
              {{ data.salesman }}
            </ng-container>
            <ng-template #salesmanEditTpl>
              <input nz-input type="text" [(ngModel)]="editCache.data.salesman"/>
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="editCache._id !== data['_id']; else doneAtEditTpl">
              {{ data.doneAt }}
            </ng-container>
            <ng-template #doneAtEditTpl>
              <nz-form-control>
                <nz-date-picker nzShowTime
                                [(ngModel)]="editCache.data.doneAt"
                                [nzDisabledDate]="disabledDate"
                                nzFormat="yyyy-MM-dd HH:mm"
                                nzPlaceHolder="选择时间">

                </nz-date-picker>
              </nz-form-control>
            </ng-template>
          </td>
          <td>
            {{ data.status }}
          </td>
          <td>
            <ng-container *ngIf="editCache._id === null">
              <a nz-popconfirm
                 class="delete"
                 nzTitle="确认删除?"
                 (nzOnConfirm)="confirmPaymentRecordDelete(data.id)">
                删除
              </a>
            </ng-container>
            <ng-container *ngIf="editCache._id !== data['_id']; else saveTpl">

            </ng-container>
            <ng-template #saveTpl>
              <a (click)="saveReceiptsEdit(data._id)">保存</a>
              <a nz-popconfirm
                 nzTitle="确认取消?"
                 (nzOnConfirm)="cancelPaymentRecordDelete(data._id)"
                 style="margin-left: 5px;">
                取消
              </a>
            </ng-template>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
</div>
