<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item  nzMatchRouter routerLink="dashboard">
        <i nz-icon nzType="dashboard"></i>
        <span>控制面板</span>
      </li>
      <li nz-menu-item  nzMatchRouter routerLink="page1">
        <i nz-icon nzType="dashboard"></i>
        <span>控制面板2</span>
      </li>
<!--      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">-->
<!--        <ul>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/workspace/dashboard">Welcome</a>-->
<!--          </li>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a routerLink="/workspace/welcome">Monitor</a>-->
<!--          </li>-->
<!--          <li nz-menu-item nzMatchRouter>-->
<!--            <a>Workplace</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="header-nav">
          <ul nz-menu nzMode="horizontal">
            <li nz-submenu nzTitle="用户中心" nzIcon="user" [nzOpen]="isOpen">
              <ul>
                  <li nz-menu-item>用户角色</li>
                  <li nz-menu-item>修改密码</li>
                  <li nz-menu-item (click)="logout()">登出</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <app-tab>
          <router-outlet></router-outlet>
        </app-tab>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
