<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="assets/logoko.png" alt="logo" style="width: 48px; height: 36px;"/>
        <h1 style="font-size: 17px">企业资源管理系统</h1>
      </a>
    </div>
    <div class="menu-header">
      主菜单
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="customer/list" nzMatchRouter>
        <i nz-icon nzType="contacts" nzTheme="outline"></i>
        <span>客户管理</span>
      </li>
      <li nz-menu-item routerLink="supplier/list" nzMatchRouter>
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <span>供应商管理</span>
      </li>
      <li nz-menu-item routerLink="purchase-order/list" nzMatchRouter>
        <i nz-icon nzType="shopping-cart"></i>
        <span>采购单管理</span>
      </li>
      <li nz-menu-item routerLink="processing-order/list" nzMatchRouter>
        <i nz-icon nzType="rocket"></i>
        <span>加工单管理</span>
      </li>
      <li nz-menu-item routerLink="shipping-order/list" nzMatchRouter>
        <i nz-icon nzType="upload"></i>
        <span>出货单管理</span>
      </li>
      <li nz-submenu nzTitle="欠款明细" nzIcon="account-book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="arrear-order/list">欠款明细列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="arrear-order/statistics">欠款统计</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item routerLink="product" nzMatchRouter>
        <i nz-icon nzType="dashboard"></i>
        <span>商品管理</span>
      </li>
      <li nz-menu-item routerLink="dashboard" nzMatchRouter>
        <i nz-icon nzType="dashboard"></i>
        <span>汇总信息</span>
      </li>
      <li nz-menu-item routerLink="expense/list" nzMatchRouter>
        <i nz-icon nzType="transaction"></i>
        <span>公司支出</span>
      </li>
      <li nz-submenu nzTitle="用户管理" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="user-management/list">用户列表</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="user-management/operation">操作日志</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <div class="header-nav">
          <ul nz-menu nzMode="horizontal">
            <li nz-menu-item style="cursor:not-allowed; pointer-events:none;">
              <label style="border: 1px solid rgba(0,21,41,.1); padding: 1px 4px; border-radius: 4px">
                地区: <span style="margin-left: 10px">{{ city | city }}</span>
              </label>
            </li>
            <li nz-submenu nzTitle="用户中心" nzIcon="user" [nzOpen]="isOpen">
              <ul>
                  <li nz-menu-item routerLink="user-center/user">用户信息</li>
                  <li nz-menu-item routerLink="user-center/password">修改密码</li>
                  <li nz-menu-item (click)="logout()">登出</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <app-tab #tabComponent>
          <router-outlet></router-outlet>
        </app-tab>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
