<nz-page-header>
  <nz-page-header-title>用户列表</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="/workspace/user-management/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增用户
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <div nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label>姓名/手机号</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [(ngModel)]="name" (ngModelChange)="resetIndex()"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="search()">搜索</button>
        <button style="margin-left: 10px" class="queryButton" nz-button nzType="primary" (click)="resetQueryParams()">
          重置
        </button>
      </nz-form-control>
    </nz-form-item>
    <div class="table-wrapper">
      <nz-table #userManagementTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="userList"
                [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="search()"
                (nzPageSizeChange)="search()"
                [nzTotal]="totalPages * pageSize"
                [nzLoading]="isLoading"
                [nzScroll]="{ x: '100%'}">
        <thead>
        <tr>
          <th nzLeft="0px" nzWidth="150px">姓名</th>
          <th nzWidth="150px">手机号</th>
          <th>状态</th>
          <th nzRight="0px" nzWidth="300px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of userManagementTable.data">
          <td nzLeft="0px">
            <a routerLink="/workspace/user-management/info/{{ data.id }}">{{ data.name }}</a>
          </td>
          <td>{{ data.phoneNumber}}</td>
          <td>
            <nz-tag nzColor="{{ data.status | user_management_status_color }}">{{ data.status | user_management_status
              }}
            </nz-tag>
          </td>
          <td nzRight="0px">
            <a style="margin-left: 5px"
               [class.disabled]="false"
               nz-popconfirm
               nzPopconfirmTitle="确认重置?"
               nzPopconfirmPlacement="top"
               (nzOnConfirm)="resetPassword(data.id)">
              [重置密码]
            </a>
            <a routerLink="/workspace/user-management/info/{{ data.id }}">[查看]</a>
            <a style="margin-left: 5px"
               class="abandon"
               [class.disabled]="false"
               nz-popconfirm
               nzPopconfirmTitle="确认删除?"
               nzPopconfirmPlacement="top"
               (nzOnConfirm)="confirmAbandon(data.id)" *ngIf="data.status===1">
              [删除]
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
