<nz-page-header>
  <nz-page-header-title>
    出货单列表
  </nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="/workspace/shipping-order/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增出货单
    </button>
    <div style="display: inline-block">
      <e-ngx-print #print1
                   [showBtn]="false"
                   [printStyle]="printStyle"
                   [printCSS]="printCSS"
                   (printComplete)="printComplete()">
      </e-ngx-print>
      <button nz-button nzType="primary" (click)="customPrint('print1')">打印</button>
    </div>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <div nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label>出货单编号</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [(ngModel)]="orderCode"
               (ngModelChange)="resetIndex()"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>客户</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [(ngModel)]="customerName"
               (ngModelChange)="resetIndex()"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>状态</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="selectedStatus"
                   (ngModelChange)="resetIndex()"
                   nzAllowClear="true" style="width: 7em">
          <nz-option nzLabel="已出货" nzValue="0"></nz-option>
          <nz-option nzLabel="已完成" nzValue="1"></nz-option>
          <nz-option nzLabel="已废弃" nzValue="2"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>出货时间</nz-form-label>
      <nz-form-control>
        <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }"
                         nzFormat="yyyy-MM-dd HH:mm"
                         [nzPlaceHolder]="['开始时间', '结束时间']"
                         [(ngModel)]="timeRange"
                         (ngModelChange)="resetIndex()">

        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button class="queryButton" nz-button nzType="primary" (click)="search()">搜索</button>
        <button class="queryButton" nz-button nzType="primary" (click)="resetQueryParams()">重置</button>
      </nz-form-control>
    </nz-form-item>


    <div class="table-wrapper">
      <nz-table #shippingOrderTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="orderList"
                [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="search()"
                (nzPageSizeChange)="search()"
                [nzTotal]="totalPages * pageSize"
                [nzLoading]="isLoading"
                [nzScroll]="{ x: '100%'}">
        <thead>
        <tr>
          <!--          code 客户 状态 应收金额 创建时间-->
          <th nzLeft="0px" nzWidth="150px">编号</th>
          <th>客户</th>
          <th>金额</th>
          <th>创建日期</th>
          <th>状态</th>
          <th nzRight="0px" nzWidth="150px">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of shippingOrderTable.data">
          <td nzLeft="0px">
            <a routerLink="/workspace/shipping-order/info/{{ data.id }}">{{ data.code }}</a>
          </td>
          <td>{{ data.customerName }}</td>
          <td>&yen;{{ data.receivableCash | number: '1.2-2' }}</td>
          <td>{{ data.createdAt }}</td>
          <td>
            <nz-tag nzColor="{{ data.status | shipping_order_status_color }}">{{ data.status | shipping_order_status
              }}
            </nz-tag>
          </td>
          <td nzRight="0px">
            <a routerLink="/workspace/shipping-order/info/{{ data.id }}">查看</a>
            <a style="margin-left: 5px"
               class="abandon"
               [class.disabled]="data.status !== 0"
               nz-popconfirm
               nzPopconfirmTitle="确认废弃?"
               nzPopconfirmPlacement="top"
               (nzOnConfirm)="confirmAbandon(data.id)">
              废弃
            </a>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>

<div id="print_div" #print_div>

  <p *ngIf="showPrint">对账单</p>
  <table *ngIf="showPrint">
    <thead>
    <tr>
      <th style="width: 200px">单号</th>
      <th style="width: 150px">客户</th>
      <th style="width: 100px">金额</th>
      <th style="width: 200px">日期</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of orderList">
      <td style="width: 200px" *ngIf="data.status!==2"> {{ data.code }}</td>
      <td style="width: 150px" *ngIf="data.status!==2"> {{ data.customerName }}</td>
      <td style="width: 100px" *ngIf="data.status!==2"> {{ data.receivableCash }}</td>
      <td style="width: 200px" *ngIf="data.status!==2"> {{ data.createdAt }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>(合计)</td>
      <td> {{ totalMoney }}</td>
    </tr>
    </tbody>
  </table>
</div>
