<nz-page-header>
  <nz-page-header-title>操作日志</nz-page-header-title>
</nz-page-header>
<div class="content">
  <div nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label>姓名</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" [(ngModel)]="userName"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>操作时间</nz-form-label>
      <nz-form-control>
        <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }"
                         nzFormat="yyyy-MM-dd HH:mm"
                         [nzPlaceHolder]="['开始时间', '结束时间']"
                         [(ngModel)]="timeRange">
        </nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" (click)="search()">搜索</button>
      </nz-form-control>
    </nz-form-item>
    <div class="table-wrapper">
      <nz-table #userManagementTable
                nzShowSizeChanger
                [nzFrontPagination]="false"
                [nzData]="operationList"
                [(nzPageIndex)]="pageIndex"
                [(nzPageSize)]="pageSize"
                (nzPageIndexChange)="search()"
                (nzPageSizeChange)="search()"
                [nzTotal]="totalPages * pageSize"
                [nzLoading]="isLoading"
                [nzScroll]="{ x: '100%'}">
        <thead>
        <tr>
          <th nzLeft="0px" nzWidth="150px">姓名</th>
          <th nzWidth="150px">描述</th>
          <th>操作时间</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of userManagementTable.data">
          <td nzLeft="0px">{{ data.userName }}</td>
          <td>{{ data.description}}</td>
          <td>{{ data.createdAt}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
